*{
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  background-color: #FB6B6B;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  background-color: #FB6B6B;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.start-recall{
  height: 31px;
  width: 141px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Recursive;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #D70900;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.logo{
  height: 65px;
  width: 55px;
}
.title{
  font-family: Righteous;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.012em;
  text-align: center;
  margin-bottom: 73px;
  color: white;
}
h1{
  font-family: Righteous;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.012em;
  text-align: center;
  color: white;

}
header{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 40px;
}
header img{
  width: 26px;
  height: 30px;
  margin-right: 10px;
}
.welcome-screen{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question{
  height: 40px;
  width: 182px; 
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}
.question ion-icon{
  position: absolute;
  right: 12px;
  top: 12px;
}
.question h1{
  margin-top: 13px;
  font-family: Recursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 6px;
  color: black;
}
.question h2{
  margin-top: 13px;
  font-family: Recursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 6px;
  text-decoration: line-through;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  left: 0;
  height: 50px;
}
.footer-top{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.footer-top h1{
  margin-left: 5px;
  font-family: Recursive;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-decoy{
  width: 100%;
  height: 50px;
  background-color: #FB6B6B;
}
footer h1{
  font-family: Recursive;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  color: black;
}
.footer2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  left: 0;
  height: 112px;
}
.footer2 h1{
  font-family: Recursive;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  color: black;
}
.open-card{
  height: 80px;
  width: 182px;
  border-radius: 5px;
  background-color: #FFFFD4;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.open-card h1{
  font-family: Recursive;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  padding-top: 13px;
  padding-left: 6px;
}
.open-card ion-icon{
  cursor: pointer;
  position: absolute;
  color: black;
  right: 8px;
  bottom: 7px;
}
.answer-buttons{
  position: absolute;
  width: 100%;
  bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.answer-buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.answer-buttons button h1{
  font-family: Recursive;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 0px;
  text-align: center;
}
.red{
  background-color: #FF3030;
}
.orange{
  background-color: #FF922E;
}
.green{
  background-color: #2FBE34;
}
.red-font{
  color: #FF3030;
}
.orange-font{
  color: #FF922E;
}
.green-font{
  color: #2FBE34;
}